.msg-error {
    width: 80%;
    border-radius: 12px;
    background-color: var(--color-red);
    color: var(--color-white-smoke);
    font-size: 1rem;
    display: none;
    padding: 8px 2%;
    margin: 0 auto 16px auto;
    text-align: center;
}

.msg-check {
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-green);
    color: var(--color-white-smoke);
    font-size: 1rem;
    display: none;
}